
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
    margin-top: 16px;
  }

  .mat-checkbox {
    margin-left: auto;
    margin-top:18px;
  }


  .mar4 {
    margin-top: 4px;
  }

  .datepicker{
   max-width:150px;
  }
  .searchbutton {
    max-height: 48px;
  }
  .menue{
    max-height: 48px;
  }