/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container-fluid {
    max-width: 1400px;
}

.mat-select-value {
    color: transparent;
}
mat-form-field * {
    max-height: 50px;
  }

.mat-form-field-infix {
    border : .84375em;
}

.padding0 {
    padding:0px;
  }